.row__element1{
    background-color: black;
    height:100px;
}
.row__element2{
    background-color: white;
    height:100px;
}
.row__element3{
    background-color: black;
    height:100px;
}
.row__element4{
    background-color: white;
    height:100px;
}
.row__element5{
    background-color: black;
    height:100px;
}